@model Ringtone

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../modules/bootstrap/dist/css/bootstrap.min.css" />
</head>

<h2>Update Ringtone</h2>
<form method="post" class="form-control">
    <div>
        <label>Ringtone Name</label>
        @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        <label>Ringtone Price</label>
        @Html.TextBoxFor(x => x.Price)
    </div>
    <button class="btn btn-primary">Update</button>
</form>
