<div class="footer py-3 mt-3">
    <div class="container">
        <span class="text-muted">
            <footer class="fixed-bottom">
                <p class="text-center text-muted">© 2021 Company, Inc</p>
            </footer>
        </span>
    </div>
</div>