<div class="list-group">

    <h5>Categories</h5>

    <a asp-action="Category" asp-controller="Home" asp-route-id="1"
        class="list-group-item list-group-item-action ">World</a>
    <a asp-action="Category" asp-controller="Home" asp-route-id="2"
        class="list-group-item list-group-item-action ">Weather</a>
    <a asp-action="Category" asp-controller="Home" asp-route-id="3"
        class="list-group-item list-group-item-action ">Animal</a>
    <a asp-action="Category" asp-controller="Home" asp-route-id="4"
        class="list-group-item list-group-item-action ">Nature</a>
    <a asp-action="Category" asp-controller="Home" asp-route-id="5"
        class="list-group-item list-group-item-action ">Forest</a>
</div>
