@model IEnumerable<Ringtone>

<div class="list-group">

    @foreach (var ringtone in Model)
    {
        <a href="#" class="list-group-item list-group-item-action ">@ringtone.Category</a>
    }
</div>
