@model Ringtone


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../modules/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row no-gutter">
                            <div class="col-md-4">
                                <img src="~/img/@Model.Imageurl" alt="@Model.Artist" class="card-img">
                            </div>
                            <div class="col-md-8">

                                <h5 class="card-title">
                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id"
                                        style="text-decoration: none;">
                                        @Model.Name</a>
                                </h5>
                                <p class="card-text">
                                    @Model.Details
                                </p>
                                <figure class="wp-block-audio alignright"><audio controls src="~/audio/@Model.Audiourl"
                                        type="audio/mpeg" controlsList="nodownload"></audio></figure>
                                <p class="card-text">
                                    <small class="text-muted">3 days ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>