@model IEnumerable<Ringtone>

<link rel="stylesheet" href="../../modules/bootstrap/dist/css/bootstrap.min.css"

@*<div class="row">
    <div class="col">
        @Html.Partial("_menu")
    </div>
</div>*@
<div class="row">
    <div class="col-md">
        @Html.Partial("_ringtones", Model)
    </div>
</div>
</div>
