@model User

@{
    ViewData["Title"] = "Giriş";
    var x = @Model.Id +1;
}

<link rel="stylesheet" href="../../modules/bootstrap/dist/css/bootstrap.min.css" <div class="row">
<div class="col text-center">
    <a href="/Account/UpdateProfile/@x" class="btn btn-secondary btn-lg btn-block">Edit Profile</a>
</div>
