@model User


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../modules/bootstrap/dist/css/bootstrap.min.css" />
</head>

<h2>Update User</h2>
<form method="post" class="form-control">
    <div class="container">
        <div class="row">
            <table>
                <tbody>
                <tr>
                    <td>
                        <div >
                            <label>User Name</label>
                        </div>
                    </td>
                    <td>
                        <div >
                            @Html.TextBoxFor(x => x.Name)
                        </div>
                    </td>
                    
                </tr>
                <tr>
                    <td> 
                        <div >
                            <label>User Password</label>
                        </div>  
                    </td>
                    <td> 
                        <div >
                            @Html.TextBoxFor(x => x.Password)
                        </div>
                    </td>
                </tr>
                <tr> 
                    <td> 
                    </td>
                    <td> 
                        <div>
                            <button class="btn btn-primary">Update</button>
                        </div>
                    </td>
            </table>
        </div>
    </div>
    
</form>
